.profile__image {
    object-fit: cover;
    width: 100%;
    border-radius: .5%;
    grid-area: image;
}

@media screen and (max-width: 550px) {
    .profile__image {
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
}
  