.profile {
    display: grid;
    margin: 40px auto 52px auto;
    grid-template-columns: 120px 1fr 150px;
    column-gap: 30px;
    grid-template-areas: "image info addbutton";
}

@media screen and (max-width: 767px) {
    .profile {
        margin-top: 20px;
        grid-template-columns: 120px 1fr 100px;
    }
}

@media screen and (max-width: 550px) {
    .profile {
        margin: 40px auto 51px auto;
        min-width: 282px;
        width: 88.2%;
        grid-template-areas: "image" "info" "addbutton";
        grid-template-columns: 1fr;
        grid-template-rows: 120px 1fr 78px;
        row-gap: 6px;
    }
}