.header {
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid rgba(84, 84, 84, .6);
}
  
@media screen and (max-width: 1278px) {
  .header {
    width: calc(100% - 100px);
  }
}
@media screen and (max-width: 985px) {
  .header {
    width: calc(100% - 39px);
  }
}
@media screen and (max-width: 458px) {
  .header {
    width: 100%;
  }
}