.profile__subtitle {
  margin: 16px 0 0;
  width: 318px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .profile__subtitle {
    width: 100%;
    text-align: center;
    margin: 14px auto 30px;
  }
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__subtitle {
    max-width: 280px;
    width: 100%;
    text-align: center;
    margin: 14px auto 36px;
  }
}